.error-404 {
  width: 100%;
  max-width: 594px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-color: #363636;
  border-top: 8px solid;
  border-radius: 2px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  .page-header {
    .page-title {
      padding-bottom: 30px;
      margin: 30px 0 30px;
      text-align: center;
      color: #363636;
      font-weight: 400;
      font-size: 38px;
      letter-spacing: -3px;
      line-height: 0.87;
    }
  }
  .page-content {
    .main-information {
      margin: 0 0 18px;
      padding: 0 20px 18px;
      text-align: center;
      color: #363636;
      font-weight: 400;
      font-size: 31px;
      letter-spacing: -3px;
      line-height: 1.1;
    }
    .error-search-form {
      backgtound: #EEE5DE;
    }

    .addition-information {
      margin: 0 0 18px;
    }
    .back-home {
      height: 23px;
      padding: 0 10px;
      font-size: 11px;
      line-height: 23px;
      text-transform: lowercase;
      border-radius: 2px;
      vertical-align: middle;
      background-color: #363636;
      display: inline-block;
      margin-bottom: 4px;
      -moz-transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: #545454;
      }
      a {
        color: #fff;
        text-decoration: none;
        outline: none;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: 320px) {
  .error-404 {
    width: 270px;
    margin: 15px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .error-404 {
    width: 370px;
  }
}
@media (max-width: 768px) {
  .error-404 {
    width: 520px;
  }
}