.post-thumbnail {
  max-width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.single-post {
  width: 100%;
  .post-thumbnail {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
  }
}