.post-thumbnail {
  max-width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.single-post {
  width: 100%;
  .post-thumbnail {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
  }
}

.site-main {
  article {
    border-top: 5px solid red;
  }
  .article-title {
    margin: 20px 5px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
  }
}