$audio-color: #00e0b6;
$help-color: #8ad903;
$forum-color: #c847ff;
$image-color: #ffb500;
$quotes-color: #ff2eb4;
$news-color: #ff5b4d;
$slideshow-color: #0091e6;
$video-color: #725eee;

.site-main {
  article.category-audio {
    border-top: 5px solid $audio-color;
    .read-more {
      background: $audio-color;
    }
  }
  article.category-help {
    border-top: 5px solid $help-color;
    .read-more {
      background: $help-color;
    }
  }
  article.category-image {
    border-top: 5px solid $image-color;
    .read-more {
      background: $image-color;
    }
  }
  article.category-forum {
    border-top: 5px solid $forum-color;
    .read-more {
      background: $forum-color;
    }
  }
  article.category-quotes {
    border-top: 5px solid $quotes-color;
    .read-more {
      background: $quotes-color;
    }
  }
  article.category-news {
    border-top: 5px solid $news-color;
    .read-more {
      background: $news-color;
    }
  }
  article.category-slideshow {
    border-top: 5px solid $slideshow-color;
    .read-more {
      background: $slideshow-color;
    }
  }
  article.category-video {
    border-top: 5px solid $video-color;
    .read-more {
      background: $video-color;
    }
  }

}