.contact-info {
  float: left;
  background: #fff;
  padding: 20px;
  border-top: 5px solid #8ad903;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  a {
    color: darken(#545454, 20%);
  }
  .fa {
    color: #8ad903;
  }
}

.contact-form {
  h2 {
    font-size: 18px;
  }
  float: right;
  background: #fff;
  padding: 20px;
  width: 300px;
  border-top: 5px solid #c847ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #545454;
    border-radius: 2px;
    background: rgba(#ddd, 0.12);
  }
  button[type='submit'] {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    background: #c847ff;
    border-radius: 2px;
    border: none;
    color: white;
    &:hover {
      background: darken(#c847ff, 10%);
    }
  }
  textarea {
    resize: none;
    height: 120px;
  }
  ::-webkit-input-placeholder {
    color: #545454 !important;
  }
  ::-moz-placeholder {
    color: #545454 !important;
  }
  :-moz-placeholder {
    color: #545454 !important;
  }
  :-ms-input-placeholder {
    color: #545454 !important;
  }
}