$Open_Sans: 'Open Sans', sans-serif;

.site-header {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #db4437;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  z-index: 800;
  position: relative;
  width: 100%;
}

.site-branding {
  float: left;
  max-width: 70%;
  padding-right: 20px;
  .site-title a {
    line-height: 1.1;
    display: inline-block;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: $Open_Sans;
    font-weight: 600;
    color: white;
  }
  .site-description {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

  }
}

.search-form {
  float: left;
  min-width: 20%;
  max-width: 30%;
  .screen-reader-text, .search-submit {
    display: none;
  }
  .search-field {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.12);
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  ::-moz-placeholder {
    color: white;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    color: white;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    color: white;
  }
}

div.container-left {
  float: left;
  width: 80%;
  @media (min-width: 1024px) {
    width: 60%;
  }
}

.social-media-icons {
  float: right;
  width: 30%;
  overflow: hidden;
  @media (min-width: 1024px) {
    width: 40%;
  }
  li {
    display: inline-block;
    &:nth-of-type(1) {
      a:hover {
        .fa {
          color: #00e0b6 !important;
        }
      }
    }
    &:nth-of-type(2) {
      a:hover {
        .fa {
          color: #8ad903 !important;
        }
      }
    }
    &:nth-of-type(3) {
      a:hover {
        .fa {
          color: #c847ff !important;
        }
      }
    }
    &:nth-of-type(4) {
      a:hover {
        .fa {
          color: #ffb500 !important;
        }
      }
    }
    &:nth-of-type(5) {
      a:hover {
        .fa {
          color: #ff2eb4 !important;
        }
      }
    }
    &:nth-of-type(6) {
      a:hover {
        .fa {
          color: #ff5b4d !important;
        }
      }
    }
    &:nth-of-type(7) {
      a:hover {
        .fa {
          color: #0091e6 !important;
        }
      }
    }
    &:nth-of-type(8) {
      a:hover {
        .fa {
          color: #725eee !important;
        }
      }
    }
    a {
      margin: 5px;
      color: white;
      font-size: 24px;
      &:hover {
        .fa {
        }
      }
    }
  }
}
@media (max-width: 320px) {
.site-header {
  display: none;
}
  #secondary {}
  top: 0 !important;
}
@media (max-width: 480px) {
  .site-header {
    display: none;
  }
  #secondary {}
  top: 0 !important;
}
