.portfolio-page {
  ul.portfolio {
    overflow: visible !important;
    li {
      position: relative;
      width: 200px;
      height: 200px;
      word-wrap: break-word;
      z-index: 10;
      &:hover {
        z-index: 11;
        .portfolio-rollover {
          transform: translateX(0);
          opacity: 1;
        }
        .portfolio-thumbnail {
          img {
            -webkit-filter: grayscale(0%);
            transform: scale(1.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
          }
        }
      }
    }
  }
  .portfolio-rollover {
    position: absolute;
    bottom: 10px;
    left: -15%;
    width: 150px;
    border-right: 5px solid #1E90FF;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    padding: 20px;
    opacity: 0;
    transition: all .5s ease;
    z-index: 12;
    transform: translateX(-10%);
    .portfolio-item-title {
      overflow: hidden;
      margin: 0;
      margin-right: 70px;
      text-transform: uppercase;
      word-wrap: break-word;
      font-weight: 400;
      font-size: 24px;
      letter-spacing: -2px;
      line-height: 1;
    }
    .portfolio-item-content {
      display: none;
    }
    .portfolio-item-category {
      padding: 3px 11px 0 1px;
      margin: 6px 75px 0 0;
      border-top: 1px solid #eaeaea;
      background: none;
      -moz-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      text-align: left;
      display: inline-block;
      clear: both;
      a {
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        vertical-align: top;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        color: rgba(84, 84, 84, 0.7);
        &:hover {
          color: #000000;
        }
      }
    }
  }
  .portfolio-thumbnail {
    overflow: hidden;
    img {
      position: absolute;
      //left: 50%;
      //top: 50%;
      //transform: translate(-50%, -50%);
      width: auto;
      height: 100%;
      filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%);
      transition: all .3s ease;
      z-index: 10;
    }
  }
}

div.fancybox-wrap.fancybox-desktop.fancybox-type-image.fancybox-opened {
  position: relative;
  transform: scale(.8);
  transition: transform 2s ease;
  z-index: 101;
  &:after {
    content: "";
    display: block;
    position: fixed;
    left: -50%;
    top: -50%;
    width: 200vw;
    height: 200vh;
    background: rgba(8, 8, 8, .9);
    z-index: -10;
  }
}

img.fancybox-image {
  width: 100%;
}

/*--------------------------------------------------------------------*/
/*---------------------------------------->>>>>>>>>>>>>  Photo Gallery*/
/*--------------------------------------------------------------------*/

ul.photogal {
  li {
    width: 19.92%;
    float: left;
    a {
      width: 100.1%;
      display: block;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        width: auto \9
      ; /* ie8 */
      }
      //end img
    }
  }
  //end ul.photoportfolio li

}

//end ul.photoportfolio

ul#filters {
  overflow: hidden;
  margin: 20px 20px 0px 20px;

  li {
    float: left;
    margin: 0 0 15px 0;

    a {
      display: block;
      background: #fff;
      padding: 8px 10px;
      text-decoration: none;
      color: #f87242;

      &:hover {
        background: #f7f5f2;
      }
    }
  }
  //end li
}

//end ul#filters

/*--------------------------------------------------------------------*/
/*------------------------------------>>>>>>>>>>>>>  Isotope Animation*/
/*--------------------------------------------------------------------*/
.isotope,
.isotope .isotope-item {
  //change the duration to whatever you like
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

//disabling isotope CSS3 transitions

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}