$Open_Sans: 'Open Sans', sans-serif;

#secondary {
  .menu {
    li {
      a {
        display: block;
        padding: 10px;
        color: #363636;
        font-size: 15px;
        font-family: $Open_Sans;
        border-radius: 2px;
        letter-spacing: -1px;
        text-transform: uppercase;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #secondary {
    .menu {
      li {
        text-align: center;
        border-bottom: 1px solid #000;

        &:first-child {
          margin-top: 5px;
        }
        }
      }
    }
  }
@media (max-width: 480px) {
  #secondary {
    .menu {
      li {
        text-align: center;
        border-bottom: 1px solid #000;

        &:first-child {
          margin-top: 5px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #secondary {
    .menu {
      li {
        text-align: center;
        border-bottom: 1px solid #000;

        &:first-child {
          margin-top: 5px;
        }
      }
    }
  }
}
.sidebar-image {
  display: block;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}