.post {
  background: #232323;
}

.single-article-title {
  margin: 20px auto 0;
  text-align: left;
  float: left;
  a {
    padding: 0 20px 18px;
    color: lighten(#363636, 50%);
    font-weight: 400;
    font-size: 38px;
    letter-spacing: -3px;
    line-height: 60px;
  }
}

.single-entry-content {
  color: #545454;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  width: 100%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 2px solid lighten(#363636, 50%);
}

.postmeta {
  padding: 8px 12px 6px 10px;
  background-color: #fafafa;
  -moz-box-shadow: inset 0px 10px 6px -10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 10px 6px -10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 10px 6px -10px rgba(0, 0, 0, 0.1);
}

.author-meta {
  float: left;
  margin-top: 50px;
  .author-name {
    color: lighten(#363636, 50%);
  }
}

.content-area {
  label {
    display: none;
  }
  textarea {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
    color: white;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.12);
    resize: none;
  }
  .postreply {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    border-color: red;
    a {
      color: lighten(#363636, 50%);
    }
    .comments-area {
      .comment-respond {
        .comment-reply-title {
          color: lighten(#363636, 50%);
          font-weight: 300;
          font-size: 20px;
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
    .comment-respond {
      width: 100%;

    }
    .comment-author {
      img {
        float: left;
        margin-right: 10px;
      }
      span {
        display: none;
      }
    }
    .reply {
      margin-left: 40px;
    }
    .comment-content {
      margin-left: 43px;
      p {
        margin: 4px 0;
        font-size: 14px;
      }
    }
    #comment {
      width: 80%;
    }
    #comments {
      float: left;
      width: 100%;
    }
    .comments-title {
      color: lighten(#363636, 50%);
      font-size: 20px;
      text-align: left;
      text-transform: uppercase;
      font-weight: 300;
      padding: 20px 20px 0;
    }
    .comment-list {
      padding: 0 20px 20px;
    }
    #respond {
      widht: 100%;
      padding: 20px;
      border-top: 2px solid lighten(#363636, 50%);
    }
    #submit {
      display: inline-block;
      padding: 5px 10px;
      font-size: 14px;
      background: #8b8b8b;
      border-radius: 2px;
      color: #fff;
      border: none;
    }
  }
}